@font-face {
    font-family: "Darleston";
    src: url('../police/Madina.otf');
}


body {
    background-image: url('../images/fushimi-inari-taisha-shrine-1497721_1920.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
}

header {
    display: flex;
    justify-content: center;
    background-image: url('../images/landscape-4930973_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    /* border-radius: 20px; */
    
}

h1 {
    font-size: 3em;
    font-family:'Dancing Script', cursive ;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    margin: 10%;

}

#nav {
    background-color: rgba(255, 255, 255, 0.89);
    /* border-radius: 10px; */
    list-style: none;
    height: 100%;
    margin: 0%;
    flex-wrap: wrap;
    display: flex;
    padding: 0%;
    align-items: center;
    flex-basis: auto;
    text-decoration: none;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.726);

}


ul li,
ul a {
    font-family: 'Dancing Script', cursive;
    font-weight:normal;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% ;
    flex: 1 1 auto;
}

#search {
    height: 25px;
}

#toolbar {
    height: 20px;
    background: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .3) outset;
    background: none;
}

/* /!\ attention, aucun espace entre .button et :hover sinon ne fonctionne pas!*/
/* attachement initial sert a faire apparaitre l'unique image mise une fois sur chaque blocs (boutons) sinon elle n'apparait qu'une fois sur le conteneur (navbar)   */
.button:hover {
    color: rgb(0, 0, 0);
    background-image: url('../images/flowers-sakura2.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    background-attachment: inherit;
    background-origin: border-box;
    background-blend-mode: color;
    font-weight: bold;
}


/* permet de retirer un element avec son emplacement. plus efficace que hidden qui ne cache pas la zone vide */
#icon {
    display: none;
}

section {
    width: 100%;
    text-align: center;
    vertical-align: center;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    margin-top: 20%;
  
}


#home {
    font-size: xx-large;
    padding: 10%;
    background-color: rgba(255, 255, 255, 0.89);
    /* border-inline: 2px solid hsl(202, 100%, 33%); */
    /* border-radius: 10px; */
     box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.726);
}

p {
    font-size:1.5em;
    max-height: auto;
}

#folder {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border-inline: 2px solid rgb(202, 8, 176); */
    /* border-radius: 10px; */
    background-color: rgba(255, 255, 255, 0.89);
    margin-top: 30%;
    box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.726);

}

.bloc {

    vertical-align: middle;
    text-align: center;
    width: 20%;
    flex-basis: auto;
    margin-top: 5%;
    min-width: 300px;
   
}



.image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    /* border: 2px solid rgb(202, 8, 176); */
}

@media screen and (max-width:1024px) {
    .button {
        border-inline: 0px;
    }
}

@media screen and (max-width: 480px) {


    #icon {
        display: block;
        width: auto;
        text-align: center;
    }
    .fa-bar {
        display: block;
        justify-content: center;
        align-items: center;
        width: 79%;
        margin-left: 9%;
        text-align: center;
        justify-content: center;
/* background-color: rgba(255, 255, 255, 0.65); */
/* border-radius: 10px; */
    }  

    .button,
    .button2 {
        display: none;
    }

    /* #nav { */
        /* background-color: transparent; */
    /* } */

    #nav:hover a {
        display: block;
        justify-content: flex-start;
        flex-direction: column;
        /* width: 100%; */
        background-image: unset;
        border-bottom: 1px solid rgba(255, 102, 204, 0.87);
        text-align: center;
        justify-content: center;
        align-items: center;
        /* padding: 0%; */
    }


    #nav:hover {
        width: auto;
        display: block;
        /* border-radius: 10px; */
        margin-bottom: 10%;
        background-color: rgba(255, 255, 255, 0.89);
        text-align: center;
        /* padding: 2% 0% 2% 0%; */
    }
    #nav:hover .button2{
        display: block;
        justify-content: flex-start;
        flex-direction: column;
        /* width: 100%; */
        background-image: unset;
        text-align: center;

    }

    li:hover {
        font-size: 30px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        background-image: url('../images/flowers-sakura2.png');
        background-size: contain;
        background-position: center;
        background-attachment: initial;
        background-repeat: no-repeat;
        text-align: center;
    }
    #icon:hover  {
        background-image: none;
        background-color: transparent;
    }
    nav:hover .fa-bar{
        background-image: none;
        background-color: transparent;
    }

}